html, body {
   margin:0;
   padding:0;
   height:100%;
	background-color : #99CCFF;
}

.template {
	width : 1100px;
	height : 100%;
	margin : 20px 0px 20px 0px;
	margin-left	: auto;
	margin-right : auto;
	border-style : solid;
	border-width : 1px;
}
.coloumn-middle{
	float : right;
	width	: 780px;
	height : 97%;
	margin : 8px;
	margin-right : 0px;
	border-style	: solid;
	border-width : 0 2px 0 0;
}

.coloumn-right{
	float : right;
	align : center;
	width	: 280px;
	height : 97%;
	margin : 8px;
	margin-left : 0px;
	border-style	: solid;
	border-width	: 0 0 0 2px;
	padding-left : 12px;
}

.wrap{
	min-height:100%;
	position:relative;
}

.nav-container{
	top : 0;
	left : 0;
	width : 100%;
	height : 50px;
}
.nav-bar{
	position	: fixed;
	left		: 0;
	top		: 0;
	z-index	: 9999;
	width		: 100%;
	height	: 50px;
	background-color	: #00a087;
}
	.nav-bar ul{
		margin-left : 60px;
		margin-top : 0px;
		font-size : 16px;
	}
	.nav-bar li, .nav-bar ul ul{
		width : 100px;
		height :50px;
		display : inline-block;
		vertical-align : middle;
		line-height : 45px;
		text-align : center;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		transition : background-color .2s ease;
	}
	.li-tab:hover{
		background-color : #005f5f;
	}
	.li-search{
		float : right;
		width : auto;
	}
	.nav-bar img {
		height : 100%;
		display : inline-block;
			-webkit-transform: translateY(50%);
			-ms-transform: translateY(50%);
			transform: translateY(0%);
		user-select: none;
	}
	
.nav-bar .li-child { /*Buat Drop-Down*/
	position: absolute;
	top: 50px;
	left : 462px;
	visibility: hidden;	
	opacity: 0;
	width : 100px;
	-webkit-transition: opacity .3s ease;
	-moz-transition: opacity .3s ease;
	-o-transition: opacity 3s ease;
	transition: opacity .3s ease;
}
	.li-tab:hover ul.li-child{
		visibility : visible;
		opacity : 1;
		left : 462px;
	}
	
.nav-bar .li-child li{ /*Buat anak-anaknya*/
	height : 30px;
	padding : 0 0 0 0;
	display : block;
	width : 180px;
	font-size : 12px;
	line-height : 30px;
	color : white;
	background: #333333;
	transition : background .2s ease;
}
	.li-tab ul.li-child li:hover {
		background-color : #005f5f;
	}
	.li-child li a{
		margin-left : 30px;
		text-align : left;
	}
a:link, a:visited {
	display: block;
    font-weight: bold;
    color: #ffffff;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

@font-face {
	font-family: 'icomoon';
	src:url(icomoon.ttf);
	font-weight: normal;
	font-style: normal;
}

.sb-search {
	position: relative;
	width: 0%;
	min-width: 0px;
	border-radius: 25px;
	height: 100%;
	float: right;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;
}

.sb-search-input {
	position: absolute;
	border-radius: 25px;
	right: 100px;
	border: none;
	outline: none;
	background: #fff;
	width: 100%;
	height: 30px;
	margin: 0;
	z-index: 10;
	padding: 15 15 15 15;
	font-family: inherit;
	font-size: 13px;
	color: #2c3e50;
}

.sb-search-input::-webkit-input-placeholder {
	color: #5C997A;
}

.sb-search-input:-moz-placeholder {
	color: #5C997A;
}

.sb-search-input::-moz-placeholder {
	color: #5C997A;
}

.sb-search-input:-ms-input-placeholder {
	color: #5C997A;
}

.sb-icon-search,
.sb-search-submit  {
	width: 30px;
	height: 30px;
	display: block;
	border-radius: 15px;
	position: absolute;
	right: 100px;
	padding: 0;
	margin: 0;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
}

.sb-search-submit {
	background: #fff; /* IE needs this */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
}

.sb-icon-search {
	color: #fff;
	background: #868686;
	z-index: 90;
	font-size: 16px;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

.sb-icon-search:before {
	content: "\e000";
}

/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {
	width: 100%;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
	background: #868686;
	color: #fff;
	z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
	z-index: 90;
}

.footer {
	width:100%;
	height:80px;
	position : relative;
	bottom : 0px;
	background-color : #00a087;
}

.contact-bottom{
   position				: fixed;
   background-color		:#e67e22;
   line-height : ;
   height				:auto;
   width				:600px;
   right				:0px;
   bottom				:0px;
   z-index				: 9999;
}

