html, body {
	margin:0;
	padding:0;
	height:100%;
}

/* =====================================================
									SECTIONS
======================================================*/
section.fixed-bg{
	height : 640px;
	padding-top : 120px;
	background-size : cover;
	background-position : 0 0;
	margin-bottom:0px;
}
	.fixed-bg.bg-1{
		background-image : url("./img/bg.jpg");
	}
	.fixed-bg.bg-2{
		background-image : url("./img/bg2.jpg");
	}
	
.scroll-bg{
	margin-bottom : 0px;
	margin-top : 0px;
	height : auto;
	padding-top : 0px;
	padding-bottom : 0px;
	background-color : rgba(255,255,115,0.5);
}

/* =====================================================
									CONTENT
======================================================*/
.logo{
	margin:auto;
	display : block;
	width : 700px;
	height : 300px;
	background-color : #00B3B3;
}

.intro{
	margin:auto;
	height : 100px;
	width : 700px;
	display : block;
	background-color : #FF8000;
	margin-bottom : 120px;
}
h1{
	font-size : 60px;
	padding-top : 70px;
	margin-left : 150px;
}
iframe{
	margin-top : 30px;
	margin-bottom : 230px;
}

/* =====================================================
									BUTTONS
======================================================*/
.linkies{
	margin-top : 230px;
	margin-left : auto;
	margin-right : auto;
	color	: black;
	font-size : 50px;
	font-family : Arial;
	text-align : center;
	margin-bottom : 0px;
}

.enex{
	display : inline-block;
	height : 60px;
	width	 : 200px;
	border : 0px double #FFC7F8;
}

a:link, a:visited {
	display				: block;
	font-weight			: bold;
	color				:#ffffff;
	background-color	:pink;
	height				:60px;
	width				:200px;
	text-align			:center;
	padding				:4px;
	text-decoration		:none;
}

a:hover, a:active {
	background-color	:#FFC7F8;
}

/* =====================================================
									FOOTER
======================================================*/
.footer {
	width:100%;
	height:auto;
	position : relative;
	bottom : 0px;
	background-color : #00a087;
}
	.foot-temp{
		width : 1200px;
		align : center;
		top : 0;
		margin-left : auto;
		margin-right : auto;
		background : black;
	}
	.foot-tab{
		display : inline-block;
		vertical-align : top;
		margin-left : 18px;
		margin-right : 0px;
		margin-top : 0;
		z-index	: 9999;
		width		: 570px;
		min-height	: 60px;
		background : white;
	}